@font-face {
    font-family: 'Public Sans';
    src: url("../fonts/PublicSans/PublicSans-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Public Sans';
    src: url("../fonts/PublicSans/PublicSans-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'DM Serif Display';
    src: url("../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf");
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');