html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    line-height: 1.5;
    background: #EDF3F8;
    font-family:Public Sans ;
    
    margin: 0;
    padding: 0;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .navbar__btn{
    position: absolute;
    right: 0;
    padding: 10px 15px;
    background-color: $Dpink;
    color: white;
    text-decoration: none;
    border-radius: 24px;
    &:active{
        background-color: $Dactive;
        color: rgba(255, 255, 255, 0.522);
    }
}


.main{

   
          position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0px;
            width: 400px;
            height: 500px;
           
            background: url(../../img/phone3.png) no-repeat;
            background-size: 100% 100%;
            
        }
}
@media (max-width:978px) {
        .main{
            &::after{
                width: 100%;
                height: 400px;
                background-position:center  center;
                background-size: 300px;
                z-index: -1;

            }
        }
}
@media (max-width:762px) {
    .main{
        &::after{
            width: 100%;
            height: 400px;
            background-position:center  center;
            background-size: 300px;
            z-index: -1;

        }
    }
}
.sec{
    background-color: $workbg;
}