@import "./container";

@import "./header";
@import "./hero";
@import "./work";
@import "./company";
@import "./essaysection";
@import "./simplesection";
@import "./redyTostrted";

@import "./footer";