.flex{
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:978px) {
    .flex{
        display:flex;
        flex-direction: column-reverse;
    }
}
@media (max-width:762px) {
    .flex{
        display:flex;
        flex-direction: column-reverse;
    }
}
.company{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    
    &__link{
        width: 30%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:978px) {
    .company{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}
@media (max-width:762px) {
    .company{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap:wrap;
        &__link{
            width: 50%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
