.footer{
    background-color: $workbg;
    .footbar{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        
        &__logo{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &__nav{
            display: flex;
            &__item{
                padding: 5px 10px ;
                list-style: none;
                .item__a{
                    text-decoration: none;
                    color: $linkcolor;
                    font-weight: 900;
                    &:active{
                        color: $linkhover;
                    }
                }
            }
        }
        &__net{
           
            position: absolute;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__link{
                padding: 10px;
            }
        }

    }
}
@media (max-width:762px) {
    .footbar{
       
        display: flex;
        align-items: center;
        justify-content: c;
        flex-direction: column;
        
        &__logo{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &__nav{
            padding: 40px;
            display: flex;
            flex-direction:column;
            align-items: center;
            &__item{
                padding: 15px 20px ;
                list-style: none;
                .item__a{
                    text-decoration: none;
                    color: $linkcolor;
                    font-weight: 900;
                    &:active{
                        color: $linkhover;
                    }
                }
            }
        }
        &__net{
           
            width: 200px;
            left: 38%;
            position: absolute;
            bottom: 0;

            display: flex;
            align-items: center;
            justify-content: space-between;
            &__link{
                padding: 10px;
                &:active{
                    color: crimson;
                }
            }
        }

    }
}