.header {
    position: relative;
    
     
    &::after{
        content: "";
        width: 300px;
        height: 400px;
        background-image: url(/img/phone3.png);
        background-size: cover;
        position: absolute;
        top: 100px;
        right: 10px;
    }
    .navbar{
       position: relative;
        display: flex;
        
        align-items: center;

        &__toggle{
            display: none;
        }
        &__nav{
            display: flex;
            min-width: 100px;
            &__item{
                padding:0px 15px;
                list-style: none;
                .item__a{
                    text-decoration: none;
                    display: flex;
                    color: $linkcolor;
                    font-weight: 700;
                    &:active{
                        color:$linkhover;
                    }
                    
                }
            }
        }
        &__btn{
            position: absolute;
            right: 0;
            padding: 10px 15px;
            background-color: $Dpink;
            color: white;
            text-decoration: none;
            border-radius: 24px;
            &:active{
                background-color: $Dactive;
                color: rgba(255, 255, 255, 0.522);
            }
        }
    }

}
// tablet
@media (max-width: 768px) and (min-width: 481px){
    .header{
         
        &::after{
            content: "";
            width:50%;
            height: 500px;
            background-image: url(/img/phone3.png);
            background-size: cover;
            background-position: center center;
            position: absolute;
            top: 80px; 
            left:200px;
            text-align: center;
            
        }


    }
}