.header{
    display: flex;
    padding: 10px 35px;
    .navbar{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        &__logo{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &__toggle{
            display: none;
        }
        &__nav{
            display: flex;
            &__item{
                padding: 5px 10px ;
                list-style: none;
                .item__a{
                    text-decoration: none;
                    color: $linkcolor;
                    font-weight: 900;
                    &:active{
                        color: $linkhover
                    }
                }
            }
        }
    }
}
// table
@media (max-width:978px) {
    .header{
        padding: 5px 35px;
        .navbar{
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            
            
            &__logo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            &__toggle{
                display: none;
                
            }
        }
    }
}
// mobile
@media (max-width:762px) {
    .header{
        padding: 5px 35px;
        .navbar{
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &__logo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            &__toggle{
                display: flex;
                
                
                
            }
            &__nav{
                display: none;
                &__item{
                    padding: 5px 10px ;
                    list-style: none;
                    .item__a{
                        text-decoration: none;
                        color: $linkcolor;
                        font-weight: 900;
                        &:active{
                            color: $linkhover
                        }
                    }
                }
            }
            .navbar__btn{
                display: none;
                position: absolute;
                right: 0;
                padding: 10px 15px;
                background-color: $Dpink;
                color: white;
                text-decoration: none;
                border-radius: 24px;
                &:active{
                    background-color: $Dactive;
                    color: rgba(255, 255, 255, 0.522);
                }
            }
        }

    }
}