.main{
    .hero{
        position: relative;
        margin: 100px 0px;
        
        &__h1{
            width: 400px;
            font-size: 50px;
            font-family:$elesFont;
            color: $linkcolor;
            vertical-align: middle;
           
        }
        &__form{
            
            width: 445px;
            position: relative;
            &__inp{
                width: 445px;
                padding:12px 15px;
                border-radius: 24px;
                border: none;
                position: relative;
               
            }
        }
        &__p{
            color:$linkcolor;
            &__span{
                font-weight: 700;
            }
        }

    }
}
// tablet devices
@media (max-width:768px){
    .main{
            flex-direction: column;
            .hero{
                height: 500px;
                margin-top: 500px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                &__h1{
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
            
                }
                &__form{
                    margin: 0 auto;
                }
                &__p{
                    text-align: center;
                }
            }
    }
}