.redyTostrted{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title{
        color:$linkcolor;
        font-family: $elesFont;
        font-weight: normal;
    }
    form {
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        position: relative;
        padding: 10px;
        margin-right: 50px;
        width: 420px;
        display: flex;
        align-items: center;
        input {
            background: inherit;
            border: none;
        }
        .btn {
            position: absolute;
            right: 0;
            border:none ;
            padding: 10px 15px;
            background-color: $Dpink;
            color: white;
            border-radius: 24px;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
           
            &:active {
                background-color: $Dactive;
                color: rgba(255, 255, 255, 0.522);
            }
        }
    &:hover, &:active {
        box-shadow: 0 0 10px white
    }
}

}
@media (max-width:978px) {
    .redyTostrted{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}
