.move{
    display: flex;
    align-items: center;
    .move__img2{
        width: 50%;
        vertical-align: middle;
    }

    .simplesection-div{
    width: 50%;
    ;
    padding: 10px;
    &__title{
        color:$linkcolor;
        font-family: $elesFont;
        font-weight: normal;
        font-size: 42px;
    }
    &__paragraph{
        color:$linkhover;

    }
}
}
@media (max-width:978px) {
    .move{
        display: flex;
        align-items: center;
        flex-direction: column;
        &__img{
            margin: 0 auto;
        }
        .simplesection-div{
        width: 100%;
        text-align: center;
        padding: 10px;
        &__title{
            color:$linkcolor;
            font-family: $elesFont;
            font-weight: normal;
            font-size: 42px;
        }
        &__paragraph{
            color:$linkhover;
    
        }
    }
    }
}
