.works{
    width: 50%;
    display: flex;
    flex-direction: column;
    &__title{
        color: white;
        font-size: 42px;
        font-weight: normal;
        font-family: $elesFont;
        padding-left: 10px;
    }
    &__paragraph{
        color: $linkhover;
    }
    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 24px;
        &:active{
            display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        color: rgba(255, 255, 255, 0.323);
        padding: 8px 12px;
        text-decoration: none;
        border: 1px solid rgba(255, 255, 255, 0.193);
        border-radius: 24px;
        }

    }
}
@media (max-width:978px) {
    .works{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            color: white;
            font-size: 42px;
            font-weight: normal;
            font-family: $elesFont;
            text-align: center;
            padding-left: 10px ;
        }
        &__paragraph{
            color: $linkhover;
            text-align: center;
            padding-left: 10px ;
        }
        &__button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            color: white;
            padding: 8px 12px;
            text-decoration: none;
            border: 1px solid white;
            border-radius: 24px;
            &:active{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                color: rgba(255, 255, 255, 0.323);
                padding: 8px 12px;
                text-decoration: none;
                border: 1px solid rgba(255, 255, 255, 0.193);
                border-radius: 24px;
            }
    
        }
    }
}
@media (max-width:762px) {
    .works{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            color: white;
            font-size: 42px;
            font-weight: normal;
            font-family: $elesFont;
            padding-left: 10px ;
        }
        &__paragraph{
            color: $linkhover;
            padding-left: 10px ;
        }
        &__button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            color: white;
            padding: 8px 12px;
            text-decoration: none;
            border: 1px solid white;
            border-radius: 24px;
            &:active{
                display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            color: rgba(255, 255, 255, 0.323);
            padding: 8px 12px;
            text-decoration: none;
            border: 1px solid rgba(255, 255, 255, 0.193);
            border-radius: 24px;
            }
    
        }
    }
}